html,
body {
  height: 100%;
  width: 100%;
  background: #191a1a;
  color: #d7d7d7;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Status icon, if the map is loading */

#status {
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.15rem;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#status a {
  color: inherit;
}

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

/* Popup style */

.mapboxgl-popup-content {
  color: black;
}

.member-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.member-location {
  font-size: 0.9rem;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #191a1a;
}

/*Styling of the clustered markers */

.mapboxgl-marker {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #666;
  border-radius: 0.5rem;
  color: #d7d7d7;
}

.mapboxgl-marker.group-2,
.mapboxgl-marker.group-3,
.mapboxgl-marker.group-4 {
  display: flex;
  flex-wrap: wrap;
}

.mapboxgl-marker.group-2 img,
.mapboxgl-marker.group-3 img {
  object-fit: cover;
  height: 50px;
}

.mapboxgl-marker.group-2 img {
  width: 25px;
}

.mapboxgl-marker.group-3 img {
  width: calc(50px / 3);
}

.mapboxgl-marker.group-4 img {
  height: 25px;
  width: 25px;
}

.mapboxgl-marker .count {
  position: absolute;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-shadow: 0 0 5px black, 0 0 5px black;
  font-size: 1.15rem;
  font-weight: 600;
}

.spider-leg-container {
  z-index: 500;
}

.mapboxgl-popup {
  z-index: 1000;
  font-size: 16px;
}

.mapboxgl-popup-content {
  padding: 1rem;
}

.spider-leg-container img {
  height: 50px;
  width: 50px;
}

.hidden {
  opacity: 0.3;
}
